{{!-- hbs is similar to html
    but it can serve dynamic content too
--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic - Served by ejs</title>
</head>
<body>
    <h2>This is a dynamic website served by Express JS</h2>
    <h2>Dynamic Text: {{text}}</h2>
</body>
</html>